language: php

sudo: required

dist: trusty

php:
  - 7.1
  - 7.2

env:
  global:
    - setup=basic

before_script:
  - composer config discard-changes true
  - if [[ $setup = 'basic' ]]; then travis_retry composer install --prefer-dist --no-interaction; fi
  - if [[ $setup = 'stable' ]]; then travis_retry composer update --prefer-dist --no-interaction --prefer-stable; fi
  - if [[ $setup = 'lowest' ]]; then travis_retry composer update --prefer-dist --no-interaction --prefer-lowest --prefer-stable; fi
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
  - ./vendor/laravel/dusk/bin/chromedriver-linux &

matrix:
  include:
    - php: 7.1
      env: setup=lowest
    - php: 7.1
      env: setup=stable
  fast_finish: true
